doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Personal Website of ppmakeitcount or Pramod Potdar. He is Great.')
    meta(name='author', content='ppmakeitcount, pramodpotdar, pramod, potdar, coder, helper, opensourcelover')
    link(rel='stylesheet prefetch', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet prefetch', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
    link(rel='stylesheet prefetch', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='style.css')
    title Projects
  body(style="background-color: #FAFAFA ;")
    .container(style="margin-top:5%; padding:10px;")
      .col-md-8.col-md-offset-2
        .panel.panel-default
          .panel-heading
            h3.panel-title Welcome! Enter Your Details.
            small.text-danger fields marked with * are required
            button.pull-right#add-projects Add Project 
                span.glyphicon.glyphicon-plus(aria-hidden='true')
          .panel-body
            form.form-horizontal(action='/add/projects', method='post')
                #projects
                  .form-group
                    label.col-sm-2.control-label(for='pjName') Project Name*
                    .col-sm-10
                      input#inputpjName.form-control(type='text', placeholder='Project Name', required="true", name="pjName")
                  .form-group
                    label.col-sm-2.control-label(for='pjDetails') Project Details*
                    .col-sm-10
                      textarea#inputpjDetails.form-control(rows='3' type='text', placeholder='Tech/Lang/Tools used / Shor discription',required="true", name="pjDetails")
                  .form-group
                    label.col-sm-2.control-label(for='pjImg') Project Image*
                    .col-sm-10
                      input#inputpjImg.form-control(type='text', placeholder='insert image', name="pjImg")
                  .form-group
                    label.col-sm-2.control-label(for='pjLink') Link*
                    .col-sm-10
                      input#inpupjtLink.form-control(type='text', placeholder='Github repo / website link', required="true", name="pjLink")
                  hr
                .form-group
                    .col-sm-offset-2.col-sm-10
                        button.btn.btn-default(type='submit') Done
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='/proj.js')